
<ion-header>

  <ion-navbar>
    <ion-title>منشوراتي</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngFor='let data of myObject'>
    <ion-item-sliding *ngIf="data[1].uid === uiid">
        
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/logo.png">
        </ion-avatar>
        <h2>{{data[1].namem}}</h2>
      </ion-item>
      
      <ion-item-options side="right">
        <button ion-button color="danger"(click)="remove(data[0])">
          <ion-icon name="md-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
      
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngFor='let dat of myObjecth'>
    
    <ion-item-sliding *ngIf="dat[1].uid === uiid">
      
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/logo.png">
        </ion-avatar>
        <h2>{{dat[1].namem}}</h2>
      </ion-item>
      
      <ion-item-options side="right">
        <button ion-button color="danger"
        (click)="removeh(dat[0])"
        >
          <ion-icon name="md-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    
    </ion-item-sliding>
  </ion-list>

</ion-content>
